<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="<?php echo base_url('bootstrap/css/bootstrap.css')?>">
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "inc/css/style.css" %}>
    <script src="static/bootstrap/js/jquery-3.1.1.min.js')?>"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/inc/js/particles.js"></script>
<style type="text/css">
body { font-family: Calibri, Helvetica, Arial, sans-serif; }
h3 { font-family: Cambria,"Times New Roman",serif; }
#paragraf2 { font-family: Georgia, serif; }
</style>
</head>
<body>
  <div id="particles-js">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 150px; margin-left: 455px">
			
			 <div class="alert alert-danger" role="alert">
				 <button type="button" class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove-circle"></i></button>
				 <h4>Peringatan</h4>
				 
			 </div>
		 
<form method="POST" action="#">
      <font color="white"><h2>Sistem Penjualan Handphone</h2>
      <h3>LOGIN</h3></font>
       <label for="usernama" class="control-label"><font color="white">Username :</font></label>
       <div>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-user"></i>
            </div>
            <input type="text" placeholder="Enter Username" name="txtuser" id="txtuser" class="form-control">
          </div>
          <br>
          <label for="katakunci" class="control-label"><font color="white">Password :</font></label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="glyphicon glyphicon-lock"></i>
            </div>
            <input type="password" placeholder="Enter Password" name="txtpas" id="txtpas" class="form-control">
          </div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <label><font color="white">Created By Chaerul</font></label>
        </div>
</form>
</div>
</div>
<script>
    particlesJS.load('particles-js','inc/json/particles.json',function(){
      console.log('particles.json loaded...')
    });
  </script>
</body>
</html>
